 th  	 {
	 text-align: center;
	 color: #ffffff;
	 background-color: #003366;
 	 }

body	 {
         font-family: "Comic Sans MS", "Comic Sans MS", fantasy;
 	 color: #FFFFFF;
	 }

body	 {
	 Background-color: #D0D0D0;
         Background-image: url("myBackground (1).jpg");
	 }

 h1 	 {
 	   font-size: 1.3em;
 	   text-align: center;
  	  }

 h4 	 {
 	   font-size: 1.3em;
 	   text-align: center;
	   text-align: center;
	   margin-left: 250px;
	   margin-right: 250px;
  	  }

h2 	 {
 	   font-size: 1.3em;
 	   text-align: center;
	   text-align: center;
	   margin-left: 250px;
	   margin-right: 250px;
  	  }

 table	  {
 	   margin-left: 250px;
 	   margin-right: 250px;
 	   text-align: center;
 	   border-collapse: collapse;
 	  }

tr  	 {
	  
 	 }

#th   	{
#	 text-align: center;
#	 color: #ffffff;
#	 background-color: #003366;
#	}
